:root{
  --coffee-color: #8A4B38;
  --coffee-progression: 0;
  --day-progression: 1;
}

body {
  /*background-color: rgb(105, 105, 105);*/
  background-color: seagreen;
  font-family: Consolas, Helvetica, sans-serif;
}
.coffee {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

@keyframes fill-cup {
  from {
    top: 358px;
    left: 211px;
    height: 50px;
    width: 107px;
  }
  to {
    top: 85px;
    left: 42px;
    height: 200px;
    width: 428px;
  }
}

@keyframes filling {
  from {
    height: 0;
  }
  to {
    height: 110%;
  }
}

@keyframes done {
  from {
    height: 110%;
    top: 0;
  }
  to {
    height: 0;
    top: 50%;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#coffee-smoke {
  opacity: 0;
}

.coffee-filler{
  left: 50%;
  top: 0;
  width: 32px;
  background-color: var(--coffee-color);
  position: absolute;
  transform: translate(-50%, -50%);
}

.oval-container {
  top: 50%;
  left: 50%;
  width: 512px;
  height: 512px;
  position: absolute;
  transform: translate(-50%, -50%);
}

.oval {
  background-color: var(--coffee-color);
  border-radius: 50%;
  position: relative;
}

img {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.coffee-credit {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  a{
    position: fixed;
    bottom: 10px;
    /*color: rgb(145, 145, 145);*/
    color: darkslategrey;
    text-decoration: none;
  }
}

.coffee-text {
  text-align: center;
  /*color: rgb(185, 185, 185);*/
  color: mediumseagreen;
  font-size: 3em;
  font-weight: bold;
  top: 4em;
}

.fill-cup {
  animation: fill-cup 5s linear 1s 1 forwards;
}

.coffee-state {
  top: calc(358px - var(--coffee-progression)*273px);
  left: calc(211px - var(--coffee-progression)* 169px);
  height: calc(50px + var(--coffee-progression)* 150px);
  width: calc(107px + var(--coffee-progression)* 321px);
}

.smoke-state{
  opacity: calc(var(--coffee-progression) * var(--day-progression)) !important;
}

.filler{
  animation: filling 0.2s linear 1s 1 forwards, done 0.2s linear 6s 1 forwards;
}

.fading {
  animation: fade-in 5s linear 5s forwards;
}

#cookie{
  margin-left: 100px;
  margin-top: 150px;
  scale: 75%;
}


